@import url("fonts.css");

.home .poetry {
    padding: 12em 1em;
    max-width: 29em;
    a {
        text-decoration:none;
        position:relative
    }
    a:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 90%;
        left: -.1em;
        right: -.1em;
        bottom: 0;
        transition: top .2s cubic-bezier(0, .8, .13, 1);
        background-color: rgba(162, 226, 206, 0.5)
    }
    a:hover:after {
        top: 0
    }
}