@font-face {
  font-family: 'Noto Serif SC';
  src: url('#{$baseRelURL}/fonts/NotoSerifSC-Regular-Alphabetic.woff2') format('woff2-variations'),
       url('#{$baseRelURL}/fonts/NotoSerifSC-Regular-Alphabetic.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Serif SC';
  src: url('#{$baseRelURL}/fonts/NotoSerifSC-Medium-Alphabetic.woff2') format('woff2-variations'),
       url('#{$baseRelURL}/fonts/NotoSerifSC-Medium-Alphabetic.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Serif SC';
  src: url('#{$baseRelURL}/fonts/NotoSerifSC-Bold-Alphabetic.woff2') format('woff2-variations'),
       url('#{$baseRelURL}/fonts/NotoSerifSC-Bold-Alphabetic.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('#{$baseRelURL}/fonts/SourceCodePro-Regular.woff2') format('woff2-variations'),
       url('#{$baseRelURL}/fonts/SourceCodePro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('#{$baseRelURL}/fonts/SourceCodePro-Bold.woff2') format('woff2-variations'),
       url('#{$baseRelURL}/fonts/SourceCodePro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('#{$baseRelURL}/fonts/SourceCodePro-Italic.woff2') format('woff2-variations'),
       url('#{$baseRelURL}/fonts/SourceCodePro-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('#{$baseRelURL}/fonts/SourceCodePro-BoldItalic.woff2') format('woff2-variations'),
       url('#{$baseRelURL}/fonts/SourceCodePro-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'EB Garamond';
  src: url('#{$baseRelURL}/fonts/EBGaramond-BoldItalic.woff2') format('woff2-variations'),
       url('#{$baseRelURL}/fonts/EBGaramond-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'EB Garamond';
  src: url('#{$baseRelURL}/fonts/EBGaramond-Italic.woff2') format('woff2-variations'),
       url('#{$baseRelURL}/fonts/EBGaramond-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'EB Garamond';
  src: url('#{$baseRelURL}/fonts/EBGaramond-Bold.woff2') format('woff2-variations'),
       url('#{$baseRelURL}/fonts/EBGaramond-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'EB Garamond';
  src: url('#{$baseRelURL}/fonts/EBGaramond-Regular.woff2') format('woff2-variations'),
       url('#{$baseRelURL}/fonts/EBGaramond-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'EB Garamond';
  src: url('#{$baseRelURL}/fonts/EBGaramond-Medium.woff2') format('woff2-variations'),
       url('#{$baseRelURL}/fonts/EBGaramond-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.home .poetry {
    padding: 12em 1em;
    max-width: 29em;
    a {
        text-decoration:none;
        position:relative
    }
    a:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 90%;
        left: -.1em;
        right: -.1em;
        bottom: 0;
        transition: top .2s cubic-bezier(0, .8, .13, 1);
        background-color: rgba(162, 226, 206, 0.5)
    }
    a:hover:after {
        top: 0
    }
}