@font-face {
  font-family: 'Source Code Pro';
  src: url('#{$baseRelURL}/fonts/SourceCodePro-VF_wght.woff2') format('woff2-variations'),
       url('#{$baseRelURL}/fonts/SourceCodePro-VF_wght.woff2') format('woff2');
  font-weight: 200 900;
  font-style: normal;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('#{$baseRelURL}/fonts/SourceCodePro-Italic-VF_wght.woff2') format('woff2-variations'),
       url('#{$baseRelURL}/fonts/SourceCodePro-Italic-VF_wght.woff2') format('woff2');
  font-weight: 200 900;
  font-style: italic;
}
@font-face {
  font-family: 'EB Garamond';
  src: url('#{$baseRelURL}/fonts/EBGaramond-VF_wght.woff2') format('woff2-variations'),
       url('#{$baseRelURL}/fonts/EBGaramond-VF_wght.woff2') format('woff2');
  font-weight: 400 800;
  font-style: normal;
}
@font-face {
  font-family: 'EB Garamond';
  src: url('#{$baseRelURL}/fonts/EBGaramond-Italic-VF_wght.woff2') format('woff2-variations'),
       url('#{$baseRelURL}/fonts/EBGaramond-Italic-VF_wght.woff2') format('woff2');
  font-weight: 400 800;
  font-style: italic;
}

.home .poetry {
    padding: 12em 1em;
    max-width: 29em;
    a {
        text-decoration:none;
        position:relative
    }
    a:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 90%;
        left: -.1em;
        right: -.1em;
        bottom: 0;
        transition: top .2s cubic-bezier(0, .8, .13, 1);
        background-color: rgba(162, 226, 206, 0.5)
    }
    a:hover:after {
        top: 0
    }
}